.css-1aquho2-MuiTabs-indicator{
    background-color: blueviolet!important;
    border-radius: 3px 3px 0 0!important;
    height: 3px!important;

}
.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected{
    color: blueviolet!important;
}
